<app-header></app-header>


<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock"     *ngIf="authService.userData as user; else logOnLogin">
        <a>Bienvenido: {{(user.email) ? user.email : ''}}</a>
        <br>
        <a (click)="authService.SignOut()"><i class="login-register"></i>Salir</a>
      </div>

      <ng-template #logOnLogin>

        <h3>Login </h3>
        <div class="formGroup">
          <input type="text" class="formControl" placeholder="Ingresa Email User" #userName required>
        </div>
        <br>
          
        <div class="formGroup">
          <input type="password" class="formControl" placeholder="Ingresa Password" #userPassword required>
        </div>
  
        <div class="formGroup">
          <input type="button" class="default-btn btn-hover" value="Aceptar" (click)="authService.login(userName.value, userPassword.value)">
        </div>

      </ng-template>
    </div>
  </div>
  

<app-footer></app-footer>


