<app-header></app-header>

<div class="displayTable">
    <div class="displayTableCell">
  
      <div class="authBlock">
        <h3>Login </h3>
        <div class="formGroup">
          <input type="text" class="formControl" placeholder="Ingresa Email User" #userName required>
        </div>
  
        <div class="formGroup">
          <input type="password" class="formControl" placeholder="Ingresa Password" #userPassword required>
        </div>
  
        <div class="formGroup">
          <input type="button" class="btn btnPrimary" value="Aceptar" (click)="authService.login(userName.value, userPassword.value)">
        </div>
        
      </div>
  
    </div>
  </div>

<app-footer></app-footer>


