<header class="header-area" id="header" style="background-color: white;">
    <div class="header-top bg-img" style="background-image:url(assets/img/icon-img/header-shape.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7 col-12 col-sm-8">
                    <div class="header-contact">
                        <ul>
                            <li><i class="fa fa-phone"></i> +56 99 35 660 23</li>
                            <li><i class="fa fa-envelope-o"></i><a href="#">contacto@cleango.cl</a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5 col-12 col-sm-4">
                    <div class="login-register" >
                        <ul>                          
                            <li><a href="login">Login</a></li>
                            <li><a href="register">Register</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5 col-12 col-sm-4">
                    <div class="login-register" >
                        <ul>                          
                            <li><a></a></li>
                        </ul> 
                    </div>
                </div>             
                <div class="col-lg-6 col-md-5 col-12 col-sm-4" *ngIf="authService.userData as user">
                    <div class="header-contact">
                        <ul>                                                                         
                            <li>Bienvenido: {{(user.displayName) ? user.displayName : 'User'}}</li>
                            <li></li>
                            <li></li>
                            <li>
                                <a (click)="authService.SignOut()"><i class="login-register"></i>Salir</a>
                            </li>
                        </ul>
                    </div>
                </div>   
            </div>
        </div>
    </div>
    <div class="header-bottom sticky-bar clearfix">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-6 col-4">
                    <div class="logo">
                        <a href="index.html">
                            <img alt="" src="assets/img/logo/logo.png">
                        </a>
                    </div>
                </div>
                
                <div class="col-lg-10 col-md-6 col-8">
                    <div class="menu-cart-wrap">
                        <div class="main-menu">
                            <nav>
                                <ul>
                                    <li><a href="home"> HOME </a></li>
                                    <li><a href="quienes"> QUIENES SOMOS  </a></li>
                                    <li><a href="indicadores"> INDICADORES ECONOMICOS  </a></li>
                                    <li><a href="productos"> PRODUCTOS  </a></li>
                                    <li><a href="contacto"> CONTACTO </a></li>                                               
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</header>

