/* You can add global styles to this file, and also import other style files */


body {
    margin: 0px;
    padding: 0px;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
  }

  .paddingPage{
    padding-top: 145px; 
    padding-left: 10rem; 
    padding-right: 10rem;
    padding-bottom: 2rem;
  }
  
  @media (min-width: 576px) {
    .product-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .displayTable {
    display: table;
    width: 50%;
    height: 50%;
    background:hsl(133, 47%, 45%);
  }
  
  .displayTableCell {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    height: 50%;
  }
  